<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.face_detection__app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_face_recognition"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_face_recognition"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".utils.base.MyApplication"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.ImageViewerActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

    </application>

</manifest>